@use '../../assets/style/variables'

.container
  position: absolute
  top: 40px
  right: 80px
  left: 80px
  display: flex
  justify-content: space-between
  align-items: center

  height: 40px
  padding-right: 4px
  padding-left: 4px

  background-color: transparent