.container
  height: 429px
  width: 284px
  margin-left: 80px
  padding: 48px

  box-shadow: 5px 20px 50px 0 #1070B120

.image
  display: block
  margin: auto

.header
  font-weight: 600
  font-size: 20px
  line-height: 30px

  @media screen and ( max-width: 940px )
    font-size: 10px
    line-height: 20px